<!-- Script to Activate the Carousel -->

  <!-- <script>

  $('.carousel').carousel({
      interval: 5000 //changes the speed
  })
  </script> -->
<%= javascript_include_tag 'home', 'data-turbolinks-track' => true %>

<!-- Header Carousel -->
  <header id="myCarousel" class="carousel slide">
      <!-- Indicators -->
      <ol class="carousel-indicators">
          <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
          <li data-target="#myCarousel" data-slide-to="1"></li>
          <li data-target="#myCarousel" data-slide-to="2"></li>
          <li data-target="#myCarousel" data-slide-to="3"></li>
      </ol>

      <!-- Wrapper for slides -->
      <div class="carousel-inner">
          <div class="item active">
              <div class="fill background" style="background-image">
                <%= link_to(airport_path) do %>
                  <%= image_tag("airport.jpg", class: "fill") %>
                <% end %>
              </div>
              <div class="carousel-caption">
                  <h2><%= link_to "Why Bermuda Needs a New Airport Terminal", airport_path, class: "homepage" %></h2>
              </div>
          </div>
          <div class="item">
            <div class="fill background" style="background-image">
              <%= link_to(deal_path) do %>
                <%= image_tag("sunset.jpg", class: "fill")%>
              <% end %>
            </div>
              <div class="carousel-caption">
                  <h2><%= link_to "The Airport Project is a Great Deal for Bermuda", deal_path, class: "homepage"%> </h2>
              </div>
          </div>

          <div class="item">
            <div class="fill background" style="background-image">
              <%= link_to(jobs_path) do %>
                <%= image_tag("new_staff.jpg", class: "fill") %>
              <% end %>
            </div>
              <div class="carousel-caption">
                  <h2><%= link_to "The New Airport Terminal Will Create Jobs & Improve the Economy", jobs_path, class: "homepage" %> </h2>
              </div>
          </div>

          <div class="item">
                <div class="fill background" style="background-image">
                  <%= link_to("deal.html#schools") do %>
                    <%= image_tag("new_kids.jpg", class: "fill") %>
                    <% end %>
                </div>
                <div class="carousel-caption">
                    <h2><%= link_to("Having Aecon Pay for the Airport Will Free Up Money to Help Schools and Seniors", "deal.html#schools") %></h2>
                </div>
            </div>

      </div>


      <!-- Controls -->
      <a class="left carousel-control" href="#myCarousel" data-slide="prev">
          <span class="icon-prev"></span>
      </a>
      <a class="right carousel-control" href="#myCarousel" data-slide="next">
          <span class="icon-next"></span>
      </a>
  </header>

  <div class="row">
      <div class="col-lg-12">
          <h1 class="page-header">
              A New Airport – Without New Debt
          </h1>
      </div>
  </div>

<div class="row">
  <div class="col-sm-4">
      <div class="panel panel-default text-center">
          <div class="panel-heading cta">
              <span class="fa-stack fa-5x">
                    <i class="fa fa-circle fa-stack-2x text-primary"></i>
                    <i class="fa fa-check fa-stack-1x fa-inverse"></i>
              </span>
          </div>
          <div class="panel-body">
              <h4>Get the Facts</h4>
              <p>There’s been a lot of disinformation spread about the airport redevelopment project. It’s time to separate the truth from fiction.</p></p>
              <a href="facts.html" class="btn btn-primary">Learn More</a>
          </div>
      </div>
  </div>

  <div class="col-sm-4">
      <div class="panel panel-default text-center">
          <div class="panel-heading cta">
              <span class="fa-stack fa-5x">
                    <i class="fa fa-circle fa-stack-2x text-primary"></i>
                    <i class="fa fa-newspaper-o fa-stack-1x fa-inverse"></i>
              </span>
          </div>
          <div class="panel-body">
              <h4>Airport News</h4>
              <p>Read the latest news & columns regarding the airport development.</p><br>
              <a href="news.html" class="btn btn-primary">Learn More</a>
          </div>
      </div>
  </div>

  <div class="col-sm-4">
      <div class="panel panel-default text-center">
          <div class="panel-heading cta">
              <span class="fa-stack fa-5x">
                    <i class="fa fa-circle fa-stack-2x text-primary"></i>
                    <i class="fa fa-compass fa-stack-1x fa-inverse"></i>
              </span>
          </div>
          <div class="panel-body">
              <h4>Frequently Asked Questions</h4>
              <p>Find answers to some of the most common questions about the airport redevelopment project.</p><br>
              <a href="faq.html" class="btn btn-primary">Learn More</a>
          </div>
      </div>
  </div>
</div> <!-- CTA Row end -->

<br><br>

    <!-- Features Section -->
    <div class="row">
        <div class="col-lg-12">
            <h2 class="page-header">A Great Deal for Bermuda</h2>
        </div>
        <div class="col-md-6">
            <p>The L.F. Wade International Airport is the world’s gateway to Bermuda. It’s the first impression visitors get of our island, and the last thing they see before they leave.</p>
            <p>Yet the current terminal is falling apart. The airport was originally built in the 1940s – and it shows.</p>
            <p>The facility costs Bermudians millions each year to maintain and is prone to flooding. It’s only a matter of time before Bermuda is hit with a storm strong enough to destroy the airport, which would be devastating to the thousands of Bermudians who depend on visitors, both business and pleasure, to make a living.</p>
            <p>Simply put, Bermuda badly needs a new airport, but with government debt at historic levels already, we can’t afford to pay for it.</p>
            <p>That’s why the government has set up a public-private partnership that will enable us to build a new terminal without increasing the public debt or putting more burden on taxpayers. That’s a great deal for Bermuda.</p>
        </div>

    <div class="col-md-6">
      <div class="videoWrapper">
        <iframe width="560" height="315" src="https://www.youtube.com/embed/xfOI31pVBsg" frameborder="0" allowfullscreen></iframe>
          <!-- <video width:"700", height="450" controls >
            <source src="" type="">
          </video> -->
      </div>
    </div>
</div>

    <br><br><br>
  <!-- News Section -->

  <div class="row">
    <%= render partial: "article" %>
  </div>

    <hr>
