<% @articles.each do |a| %>

  <div class="row">
      <div class="col-md-7">
          <% binding.pry %>
          <%= image_tag(a.outlet.image, class: "news_image") %>
          <h3><%=a.headline%></h3>
          <h5><%= a.date_published.strftime("%B %e %Y") %></h5>
          <p><%=a.content%></p>
          <a class="btn btn-primary" href="<%= a.url %>">View Article</i></a>
      </div>
  </div>

  <hr>

<% end %>
