<br>

<%= link_to 'New Article', admin_news_new_path %>

<br>
<br>

<% @articles.each do |a| %>

  <div class="row">
      <div class="col-md-7">
          <%= image_tag(a.outlet.image, class: "news_image") %>
          <h3><%=a.headline%></h3>
          <h5><%= a.date_published.strftime("%B %e %Y") %></h5>
          <p><%=a.content%></p>
          <%= link_to 'Edit', edit_news_path(a), class: "btn btn-primary" %>
          <%= link_to 'Delete', edit_news_path(a), class: "btn btn-primary" %>
          <!-- <a class="btn btn-primary">Edit Article</i></a>
          <a class="btn btn-primary" href="<%= a.url %>">Delete Article</i></a> -->
      </div>
  </div>

  <hr>

<% end %>
