<br>

<%= form_for(@article, url: admin_news_path ) do |f| %>
<p>  <%= f.label :headline %>
<p>  <%= f.text_field :headline %></p>
<p>  <%= f.label :author %>
<p>  <%= f.text_field :author %></p>
<p>  <%= f.label :date_published %>
<p>  <%= f.date_select :date_published %></p>
<p>  <%= f.label :content %>
<p>  <%= f.text_area :content %></p>
<p>  <%= f.label :url, "URL" %>
<p>  <%= f.text_field :url %></p>
<p>  <%= f.label :outlet_id, "Select an Outlet" %>
<p>  <%= f.collection_select(:outlet_id, Outlet.all, :id, :name) %><br>
<p>  <%= submit_tag(value ="Add Article")  %>
<% end %>
