<div class="row">
    <div class="col-md-7">
        <%= image_tag(@article.outlet.image, class: "news_image") %>
        <h3><%=@article.headline%></h3>
        <h5><%= @article.date_published.strftime("%B %e %Y") %></h5>
        <p><%=@article.content%></p>
        <%= link_to 'Edit', edit_news_path(@article), class: "btn btn-primary" %>
        <%= link_to 'Delete', edit_news_path(@article), class: "btn btn-primary" %>
        <!-- <a class="btn btn-primary">Edit Article</i></a>
        <a class="btn btn-primary" href="<%= a.url %>">Delete Article</i></a> -->
    </div>
</div>
